@import '~bootstrap-sass/assets/stylesheets/bootstrap';
body{
	font-family: Arial, Helvetica, sans-serif;
	background: #d2e1ff;
	
	.whiteboarder{
		padding: .1em;
    	border-radius: 12px;
    	background: white;
	}
	.headingDiv{
		padding: 1em;
	    border-radius: 12px;
	    background: #ffc600;
	    .stepTitle{
	    	font-size: 15px !important;
	    	color: white;

	    }
	}
	.formStep{
		border-radius: 12px;
    	background: #dedede;
    	margin: 0.5em;
	}
	.formContent{
		padding: 1em 1em;
		overflow: hidden;
		.form-control{
			border-radius: 12px;
		}
	}
	.hiddenStep{
		display: none;
	}
	button, .subBtn{
		background: #3e4ab8;
		border-radius: 12px;
		border-style: none;
		color: #ffffff;
		padding: 5px 25px;
		float: right;
		margin: .5em;
	}
}